    Host bastion
      HostName 35.185.162.210
      User ubuntu
      IdentityFile zscc-key-bsp56u0n.pem

    Host workload-0
      HostName 10.1.2.4
      User ubuntu
      IdentityFile zscc-key-bsp56u0n.pem
      StrictHostKeyChecking no
      ProxyJump bastion
      ProxyCommand ssh bastion -W %h:%p
    Host workload-1
      HostName 10.1.2.5
      User ubuntu
      IdentityFile zscc-key-bsp56u0n.pem
      StrictHostKeyChecking no
      ProxyJump bastion
      ProxyCommand ssh bastion -W %h:%p
    
    Host iperf-server
      HostName 34.80.251.31
      User ubuntu
      IdentityFile zscc-key-bsp56u0n.pem
      StrictHostKeyChecking no
